EasyProcess==1.1
entrypoint2==1.1
exceptiongroup==1.2.0
formation-studio==0.6.3
iniconfig==2.0.0
jeepney==0.8.0
mss==9.0.1
packaging==23.2
pillow==10.2.0
platformdirs==4.1.0
pluggy==1.4.0
pyscreenshot==3.1
pytest==7.4.4
python-tkdnd==0.2.1
tomli==2.0.1
ttkwidgets==0.13.0
